@media screen and (max-width: 1024px) {
  .header-title-first{
    transform: skewY(-1deg)!important;
    position: relative!important;
    margin:300px 0!important;
    font-size:6em!important;
  }
  .header-title-second {
    transform: skewY(11deg)!important;
    font-size:4em!important;
    margin: 100px 0!important;
    position: relative!important;
    left: 0;
  }
  .article{
    h1{
      width:100px;
      left:0;
    }
  }
}
@media screen and (max-width: 479px) {
  .header-title-second {
    width: 200px!important;
  }
}