<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LAM</title>
    <link rel="stylesheet" href="css/main.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,900|Rajdhani:400,600,700|Electrolize|Quantico:400,700' rel='stylesheet' type='text/css'>
</head>
<body>

<img src="img/lam.jpg" id="bg" alt="garden">
<header class="header-main"></header>
<h1 class="header-title">Lam</h1>
<h2 class="header-subtitle">Landscape archtecture magazine</h2>
<p class="header-issue">April 2012 volume 1082</p>
<div class="header-highlighted">
    <h2>Extra</h2><h2>Dry</h2>
    <p>In the west, life with less water</p>
    <hr>
    <h3>James Burnett</h3>
    <p>An explosive desert garden</p>
</div>

<main class="main-shaped">
    <p>
        April is, of course:<br> <a id="link" href="https://www.asla.org/contentdetail.aspx?id=45783" target="_blank">World Landscape Architecture Month</a><br>You should tell your friends and family as much at every opportunity.<br>You will also want to share this month’s LAM far and wide,<br> which is made easier because the online version is <b>free</b>.<p>Check out a <a id="modal" href="#openModal">preview</a> of this issue's content.
    </p>
</main>

<div id="openModal" class="modal">
    <div class="modal-content">
        <a href="#close" title="Close" class="modal-close">x</a>
        <ul class="issue-preview">
            <li><img src="img/thumb1.jpg" alt="garden"></li>
            <li><img src="img/thumb2.jpg" alt="garden"></li>
            <li><img src="img/thumb3.jpg" alt="garden"></li>
        </ul>
    </div>
</div>

</body>
</html>